<div>
    <h2 id="session-page-heading" *ngIf="account"><b>{{account.login}}'s</b> sessions</h2>

    <div class="alert alert-success" *ngIf="success">
        <strong>Session invalidated!</strong>
    </div>
    <div class="alert alert-danger" *ngIf="error">
        <strong>An error has occurred!</strong> The session could not be invalidated.
    </div>

    <div class="table-responsive">
        <table class="table table-striped" aria-describedby="session-page-heading">
            <thead>
                <tr>
                    <th scope="col">IP Address</th>
                    <th scope="col">User agent</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let session of sessions">
                    <td>{{session.ipAddress}}</td>
                    <td>{{session.userAgent}}</td>
                    <td>{{session.tokenDate | date:'longDate'}}</td>
                    <td>
                        <button type="submit"
                                class="btn btn-primary"
                                (click)="invalidate(session.series)">
                                 Invalidate
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
