<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="person">
            <h2>{{person.firstName}} {{person.lastName}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{person.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{person.lastName}}</span>
                </dd>
                <dt><span>Date Of Birth</span></dt>
                <dd>
                    <span>{{person.dateOfBirth}}</span>
                </dd>
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Street Address</span></dt>
                <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>{{person.streetAddress}}</span>
                </dd>
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Postal Code</span></dt>
                <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>{{person.postalCode}}</span>
                </dd>
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>City</span></dt>
                <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>{{person.city}}</span>
                </dd>
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>State Province</span></dt>
                <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>{{person.stateProvince}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/person', person.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
