<div>
    <h2 id="page-heading">
        <span>People</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person" [routerLink]="['/person/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Person
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="people?.length === 0">
        <span>No people found</span>
    </div>
    <div class="table-responsive" *ngIf="people?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>First Name</span></th>
            <th scope="col" ><span>Last Name</span></th>
            <th scope="col" ><span>Date Of Birth</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col" ><span>Street Address</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col" ><span>Postal Code</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col" ><span>City</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col" ><span>State Province</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of people ;trackBy: trackId">
                <td><a [routerLink]="['/person', person.id, 'view' ]">{{person.id}}</a></td>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td>{{person.dateOfBirth | date:'medium'}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{person.streetAddress}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{person.postalCode}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{person.city}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{person.stateProvince}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/person', person.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/person', person.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(person)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
