<div class="row">
    <div class="col-md-9">
        <h1 class="display-4">Pet Tracker</h1>
        <p class="lead">Keeping track of people's pets.</p>

        <div [ngSwitch]="isAuthenticated()">

            <div class="btn-group" *ngSwitchCase="true">
                <a routerLink="person" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn btn-info btn-xl">
                    <fa-icon [icon]="'user-friends'"></fa-icon>
                    <span class="d-none d-md-inline">People</span>
                </a>
                <a routerLink="pet" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn btn-primary btn-xl">
                    <fa-icon [icon]="'dog'"></fa-icon>
                    <span class="d-none d-md-inline">Pets</span>
                </a>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
