<div>
    <h2 id="page-heading">
        <span>Pets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pet" [routerLink]="['/pet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Pet
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="pets?.length === 0">
        <span>No pets found</span>
    </div>
    <div class="table-responsive" *ngIf="pets?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Date Of Birth</span></th>
            <th scope="col" ><span>Person</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pet of pets ;trackBy: trackId">
                <td><a [routerLink]="['/pet', pet.id, 'view' ]">{{pet.id}}</a></td>
                <td>{{pet.name}}</td>
                <td>{{pet.dateOfBirth | date:'medium'}}</td>
                <td>
                    <div *ngIf="pet.person">
                        <a [routerLink]="['/person', pet.person?.id, 'view' ]" >{{pet.person?.firstName}} {{pet.person?.lastName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pet', pet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pet', pet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(pet)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
